
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Overweight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h4>Overweight</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="https://www.lybrate.com/topic/obesity-diet-chart">Diet chart</a></li>
                    <li><a href="https://www.healthline.com/nutrition/best-exercise-for-weight-loss">Exercise to loss weight</a></li>
                    <li><a href="https://www.healthline.com/health/how-to-prevent-obesity">Recommendation</a></li>
                </ul><br>
            </div>

            <div class="col-sm-9">
                <h3><small>According to your entered Data You are Overweight</small></h3>
                <hr>
                <h2>Some tips and trics to get healthy </h2>
                <p>
                    Adults who are overweight or obese should be encouraged to increase their physical
                    activity levels even if they do not lose weight as a result, because physical activity can
                    bring other health benefits such as reduced risk of type 2 diabetes and cardiovascular
                    disease. Overweight or obese adults should be encouraged to perform at least 30 mins
                    of at least moderate-intensity physical activity on 5 or more days a week. The activity can
                    be undertaken in one session or several lasting 10 mins or more. For those who have
                    already achieved this level of activity, an increase in the amount of their physical activity is a
                    reasonable component of any strategy to lose weight. It is generally estimated that 1 pound
                    (0.45kg) of body fat loss requires about 3,500 kcal of energy consumption.
                </p>
                <br>
                <p>
                    It is important to ensure that individuals have no contraindications to exercise before
                    commencing a physical activity programme. The presence of other comorbidities (e.g.
                    dyslipidaemia, hypertension, hyperinsulinaemia, hyperglycaemia, etc.) may increase the
                    risk stratification for overweight and obese individuals, resulting in the need for additional
                    medical screening before exercise testing
                </p>
                <br>
                <p>
                    Weight-bearing	physical activity may be difficult for some individuals
                    with BMI over approximately 35 kg/m2, particularly for those with
                    joint problems. For these individuals, gradually increasing non-weightbearing moderate-intensity physical activities (e.g. cycling, swimming,
                    water aerobics, etc.) should be encouraged
                </p>
                <br>
                <p>
                    The increasing prevalence of obesity reflects a lack of energy balance in a large number of
                    people who are consistently expending fewer calories than they consume. It is reasonable to
                    assume that persons with relatively high daily energy expenditures would be less likely to gain
                    weight over time, compared with those who have low energy expenditures.
                </p>
                <br>
                <p>
                    As studies
                    on the effect of prescription of muscle strengthening exercise on weight loss are limited,
                    it seems reasonable to recommend overweight/obese people to follow the same muscle
                    strengthening exercise recommendations for the general population for having a balanced
                    exercise programme.
                </p>

                <br>

                
                        </div>
                    </div>
                </div>

    <footer class="container-fluid">
        <p>Footer Text</p>
    </footer>

</body>
</html>
