
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Underweight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {
            height: 1500px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h4>UnderWeight</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="https://www.lybrate.com/topic/diet-for-underweight">Diet chart</a></li>
                    <li><a href="https://www.healthline.com/health/exercise-to-gain-weight">Exercise to gain weight</a></li>
                    <li><a href="https://www.medicalnewstoday.com/articles/321982">Recommendation</a></li>
                </ul><br>
            </div>

            <div class="col-sm-9">
                <h3><small>According to your entered Data You are Underweight</small></h3>
                <hr>
                <h2>Some Recommendation</h2>
                <p>Add healthy calories. You don’t need to drastically change your diet. You can increase calories by adding nut or seed toppings, cheese, and healthy side dishes. Try almonds, sunflower seeds, fruit, or whole-grain, wheat toast.</p>
                <br>
                <p>Go nutrient dense. Instead of eating empty calories and junk food, eat foods that are rich in nutrients. Consider high-protein meats, which can help you to build muscle. Also, choose nutritious carbohydrates, such as brown rice and other whole grains. This helps ensure your body is receiving as much nourishment as possible, even if you’re dealing with a reduced appetite.</p>
                <br>
                <p>
                    Snack away. Enjoy snacks that contain plenty of protein and healthy carbohydrates. Consider options like trail mix, protein bars or drinks, and crackers with hummus or peanut butter. Also, enjoy snacks that contain “good fats,” which are important for a healthy heart. Examples include nuts and avocados.
                </p>
                <br>
                <p>
                    Eat mini meals. If you’re struggling with a poor appetite, due to medical or emotional issues, eating large amounts of food may not seem appealing. Consider eating smaller meals throughout the day to increase your calorie intake.
                </p>
                <br>
                <p>     Bulk up. While too much aerobic exercise will burn calories and work against your weight goal, strength training can help. This includes weightlifting or yoga. You gain weight by building muscle.</p>

                <br>


            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <p>Footer Text</p>
    </footer>

</body>
</html>
