@model HealthInspector.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}

<main class="page-auth">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <section class="auth-wrapper">
                    <div class="row">
                        <div class="col-md-6 mb-4 mb-md-0">
                            <h2 class="auth-section-title">Change Password</h2>
                            <p class="auth-section-subtitle">Enter Details to reset your Password.</p>
                            <form asp-action="ChangePassword">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassoword" class="control-label"></label>
                                    <input asp-for="ConfirmPassoword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassoword" class="text-danger"></span>
                                </div>
                                @*<div class="form-group">
                                        <label asp-for="UserId" class="control-label"></label>
                                        <input asp-for="UserId" class="form-control" />
                                        <span asp-validation-for="UserId" class="text-danger"></span>
                                    </div>*@
                                @Html.HiddenFor(m => m.UserId)
                                <div class="form-group">
                                    <input type="submit" value="Reset" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 d-flex align-items-center">
                            <img src="~/theme1/assets/images/login.png" alt="login" class="img-fluid">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
